.left-panel{
        display: inline-block;
        float: left;
        width:20%;
        border-right:1px solid #666;
        padding:20px;
}
.right-panel{
        display: inline-block;
        float: left;
        width:70%;
        padding:20px;
}

.hidden {display: none;}
.divDetails{
        display: inline-block; width:80%
}
.divActions{
        display: inline-block; width:20%
}